<form action= "/places/create">
	<h1>New Place Form:<br></h1>
  	Title:
   	 <input type ="string" name="newtitle" value="">
   	 <br> Photo Url: 
    	<input type ="string" name="newphoto" value="">
    <br>
    <br> Admission Price: 
    	<input type ="integer" name="newprice" value="">
    <br>
    <br> Description: 
    	<input type ="text" name="newdescription" value="">
    <br><br>
  	<button>Submit</button>

</form>

